#body {
    margin-top: 60px;
	margin-bottom: 30px;
}

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
	vertical-align: middle;
}

.green {
	color: #090;
}

.red {
	color: #c00;
}

.navbar-brand {
    font-size: 28px;
}