<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
    <title>Quiz Engine: A MarionetteJS Example Application</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <div class="container">
        <header data-region="header" class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <a href="#list" class="navbar-brand">Quiz Engine</a>
                </div>
            </div>
        </header>
        <section id="appBody" data-region="body" class="row"></section>
        <footer data-region="footer" class="row">
            <p class="col-xs-12 text-muted">Copyright &copy; 2013 Joe Zimmerman. This is an example application used in the book, <em>A Thorough Introduction to MarionetteJS</em>.</p>
        </footer>
    </div>

<!-- Templates -->
    <script type="text/template" id="quizlist-quizzes">
        <div class="col-xs-12">
            <div><a href="#new-quiz" class="btn btn-primary">Start a New Quiz</a></div>
            <h3>Quizzes</h3>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th class="col-xs-6">Quiz</th>
                        <th class="col-xs-3">Score</th>
                        <th class="col-xs-3">Actions</th>
                    </tr>
                </thead>
                <tbody data-item-view-container></tbody>
            </table>
        </div>
    </script>

    <script type="text/template" id="quizlist-quiz">
        <td class="lead"><%= name %></td>
        <td><%= score() %></td>
        <td>
            <a href="#quiz/<%= id() %>" class="btn btn-link col-xs-12 col-sm-6"><%= viewAction() %></a>
            <button data-action="delete" class="btn btn-link col-xs-12 col-sm-6">Delete</button>
        </td>
    </script>

    <script type="text/template" id="quizlist-noquizzes">
        <td colspan="3" class="text-center">
            You have no quizzes here. Click the "Start a New Quiz" button to kick things off!
        </td>
    </script>

    <script type="text/template" id="quizcreator-form">
        <div class="col-xs-12">
            <h3>Create a Quiz</h3>
            <form>
                <div class="form-group row">
                    <label for="quizName" class="col-xs-4 col-sm-2">Quiz Name</label>
                    <div class="col-xs-8 col-sm-10">
                        <input class="form-control" id="quizName" type="text" value="Quiz">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-xs-4 col-sm-2">Question Categories</label>
                    <div class="col-xs-8 col-sm-10">
                        <p class="help-block">Choose at least one category below. Your quiz will be comprised of all the questions from each of the categories selected.</p>
                        <% _.each(items, function(category) { %>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" value="<%= category.id %>"> <%= category.name %>
                                </label>
                            </div>
                        <% }); %>
                    </div>
                </div>
            </form>
            <button data-action="start" class="btn btn-primary">Start Quiz</button>
            <a href="#list" class="btn btn-default">Cancel</a>
        </div>
    </script>

    <script type="text/template" id="quiz-quiz">
        <div class="col-xs-12">
            <h3><%= name %></h3>
            <div data-region="quizData"></div>
        </div>
    </script>

    <script type="text/template" id="quiz-quiz404">
        <div class="col-xs-12 text-center">
            <h3>This Quiz Does Not Exist</h2>
            <p><a href="#list">Return to Your Quizzes</a></p>
        </div>
    </script>

    <script type="text/template" id="quiz-quizreview">
        <div class="col-xs-12 col-sm-4">
            <div class="row">
                <h4 class="col-xs-4 col-sm-12 text-center">Correct: <%= getCorrect() %></h4>
                <h4 class="col-xs-4 col-sm-12 text-center">Total: <%= getTotal() %></h4>
                <h4 class="col-xs-4 col-sm-12 text-center">Score: <%= getScore() %></h4>
            </div>
        </div>
        <div class="col-xs-12 col-sm-8">
            <table class="table">
                <thead>
                    <th class="col-xs-4">Question</th>
                    <th class="col-xs-4">Correct</th>
                </thead>
                <tbody>
                    <% _.each(questions, function(question, index) { %>
                        <tr>
                            <td><%= index + 1 %></td>
                            <td>
                                <% if (isCorrect(question.id)) { %>
                                    <span class="glyphicon glyphicon-ok green"></span>
                                <% } else { %>
                                    <span class="glyphicon glyphicon-remove red"></span>
                                <% } %>
                            </td>
                        </tr>
                    <% }); %>
                </tbody>
            </table>
        </div>
    </script>

    <script type="text/template" id="quiz-quizquestion">
        <p><strong><%= questionNumber() %>. </strong><%= question.text %></p>
        <form id="form">
            <% _.each(question.answers, function(answer, index) { %>
                <div class="radio">
                    <label>
                        <input type="radio" name="answers" value="<%= index %>">
                        <%= answer.text %>
                    </label>
                </div>
            <% }); %>
            <button class="btn btn-primary" data-action="next"><%= isLastQuestion() ? "Finish Quiz" : "Next Question" %></button>
        </form>
    </script>

<!-- Dependencies -->
    <script src="js/vendor/jquery.min.js"></script>
    <script src="js/vendor/underscore.min.js"></script>
    <script src="js/vendor/backbone.min.js"></script>
    <script src="js/vendor/backbone.marionette.min.js"></script>
<!-- Our Code -->
    <!-- App and Helpers -->
    <script src="js/QuizEngine.js"></script>
    <script src="js/helpers/SubAppManager.js"></script>
    <script src="js/Router.js"></script>
    <!-- Data Module -->
    <script src="js/modules/Data/models/Answer.js"></script>
    <script src="js/modules/Data/models/Answers.js"></script>
    <script src="js/modules/Data/models/Question.js"></script>
    <script src="js/modules/Data/models/Questions.js"></script>
    <script src="js/modules/Data/models/Category.js"></script>
    <script src="js/modules/Data/models/Categories.js"></script>
    <script src="js/modules/Data/models/QuizQuestion.js"></script>
    <script src="js/modules/Data/models/QuizQuestions.js"></script>
    <script src="js/modules/Data/models/Quiz.js"></script>
    <script src="js/modules/Data/models/Quizzes.js"></script>
    <script src="js/modules/Data/index.js"></script>
    <!-- QuizList Module -->
    <script src="js/modules/QuizList/views/QuizView.js"></script>
    <script src="js/modules/QuizList/views/NoQuizzesView.js"></script>
    <script src="js/modules/QuizList/views/QuizzesView.js"></script>
    <script src="js/modules/QuizList/Controller.js"></script>
    <script src="js/modules/QuizList/Router.js"></script>
    <script src="js/modules/QuizList/index.js"></script>
    <!-- QuizCreator Module -->
    <script src="js/modules/QuizCreator/views/FormView.js"></script>
    <script src="js/modules/QuizCreator/Controller.js"></script>
    <script src="js/modules/QuizCreator/Router.js"></script>
    <script src="js/modules/QuizCreator/index.js"></script>
    <!-- Quiz Module -->
    <script src="js/modules/Quiz/views/QuizView.js"></script>
    <script src="js/modules/Quiz/views/QuizReviewView.js"></script>
    <script src="js/modules/Quiz/views/QuizQuestionView.js"></script>
    <script src="js/modules/Quiz/Controller.js"></script>
    <script src="js/modules/Quiz/Router.js"></script>
    <script src="js/modules/Quiz/index.js"></script>
    <!-- Fire This Sucker Up -->
    <script src="js/initialize.js"></script>
</body>
</html>